<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta content="yes" name="apple-touch-fullscreen">
  </head>
  <body>
  <div id="root"></div>
  <script type="text/javascript">
      (function (doc, win) {
          var docEl = doc.documentElement,
              resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
              fSize = 0,
              recalc = function () {
                  var clientWidth = docEl.clientWidth;
                  if (!clientWidth) return;
                  fSize = Math.round(17 * (clientWidth / 320));
                  fSize = (fSize > 27) ? 27: fSize;
                  docEl.style.fontSize = fSize + 'px';
              };
          win.addEventListener(resizeEvt, recalc, false);
          recalc();

          // 全局对象声明
          win.FaKoa = Object.seal({
              fontSize: fSize,
              isMobile: false,
              bodyMinHeight: 0,
              uploadSize: 2 * 1048576,
              multiFile: null,
              isAuthenticated: false
          });
      })(document, window);
  </script>
  <script type="text/javascript" src="./js/lib.js"></script>
  </body>
</html>