<ul class="nav nav-stacked">
  <li role="presentation" class="active"><a href="#">用户列表</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul>