.body-left {
    height: 100%;
    border-right: 1px solid #999;
}
.navbar-brand{
    font-size: 26px;
}
.login-box {
    width: 500px;
    height: 270px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.login-box .panel-heading {
    background: #000;
    color: #fff;
    font-size: 20px;
    text-align: center;
}
.d-btn {
    padding: 0 12px;
}
