.article {
  .comment-list {
    margin: 0;
  }
}
.article-box {
  background-color: #fff;
  padding: .4rem;
  margin-bottom: .4rem;
  .title {
    font-size: 20px;
  }
  p {
    color: $artColor;
    padding: .4rem 0;
  }
  .single-img {
    margin: .4rem 0;
  }
}
.article-action{
  padding: .4rem;
  background-color: #fff;
}