.comment-list {
  .comment-tip {
    color: $tipColor;
    text-align: center;
    padding: .8rem 0 .4rem 0;
  }
  .first {
    color: $tipColor;
  }
  .comment {
    padding: .5rem .4rem;
  }
  .content {
    padding-left: 2.9rem;
  }
  a{
    color: $refColor;
    padding-right: 4px;
    a:hover, a:focus {
      color: $refColor;
    }
  }
}