.comment-list {
  background-color: #fff;
  margin-top: 8px;
  .comment {
    padding: .4rem;
    border-bottom: 1px solid $bgColor;
  }
  .content {
    padding-left: 2.9rem;
  }
  a{
    color: $refColor;
    padding-right: 4px;
    a:hover, a:focus {
      color: $refColor;
    }
  }
}