.long-text{
  background-color: #fff;
  height: 2000px;
  position: relative;
  .operate {
    width: 100%;
    height: 2rem;
    position: absolute;
    bottom: 0;
    @extend .flex;
    border-top: 1px solid $bgColor;
    div {
      @extend .f1;
      @extend .flex;
      @extend .fcm;
    }
    .rfc {
      color: $refColor;
    }
    .middle {
      color: $tipColor;
    }
  }
}