.create {
  background-color: #fff;
  padding: .8rem .4rem 0 .4rem;
  position: relative;
  textarea {
    width: 100%;
    resize: none;
    height: $fontSize * 1.5 * 6;
  }
  .edit-tip {
    position: absolute;
    bottom: 0;
    right: .4rem;
    font-size: .6rem;
    color: $tipColor;
  }
}