.header-view{
  height: $hfHeight;
  .bdb {
    border-bottom: $border;
  }
  user-focus: none;
  @include prefix(user-select, none);
}
.header-container, .footer-container {
  position: fixed;
  width: 100%;
  height: $hfHeight;
  min-width: $minWidth;
  max-width: $maxWidth;
  background-color: #fff;
  color: #000;
  z-index: $zIndex1;
  left: 50%;
  transform: translateX(-50%);
}

.header, .footer {
  width: 100%;
  height: $hfHeight;
  line-height: $hfHeight;
  display: flex;
  text-align: center;
}

.header {
  .item {
    width: $hfHeight;
    height: $hfHeight;
  }
  .middle {
    flex: 1;
    font-size: 18px;
    font-weight: 500;
  }
}

.footer {
  li {
    flex: 1;
  }
}

.footer-container {
  border-top: $border;
  bottom: 0;
  transition-timing-function: ease-in-out;
  transition-duration: 0s;
  .active {
    font-weight: 600;
  }
}

.footer-hidden {
  transition-duration: .1s;
  transform: translate3d(-50%, $hfHeight, 0);
}


.toast {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  width: 100%;
  height: 100%;
  padding: 4px 4px 0 4px;
  color: #fff;
  transform: translate3d(0, -$hfHeight, 0);
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
  .cont {
    width: 100%;
    height: 100%;
    background-color: #000;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: #fff;
    text-align: center;
    line-height: 40px;
  }
}

