$height: 44px;
$zIndex: 960;
.header-view{
  height: $height;
  color: #000;
}
.header, .footer {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  width: 100%;
  height: $height;
  z-index: $zIndex;
  position: fixed;
  left: 0;
  background-color: #fff;
  li {
    list-style: none;
  }
  .f-item {
    flex: 1;
  }
}

.header {
  top: 0;
  .item {
    width: $height;
  }
  .middle {
    text-align: center;
    line-height: $height;
    font-size: 18px;
  }
}

.footer {
  bottom: 0;
  li {
    text-align: center;
    line-height: $height;
  }
}