.header-view {
  user-focus: none;
  @include prefix(user-select, none);
  position: relative;
  z-index: $zIndex2;
}
.header-container {
  position: fixed;
  width: 100%;
  min-width: $minWidth;
  max-width: $maxWidth;
  background-color: transparent;
  z-index: $zIndex1;
  .logo {
    width: 3rem;
    height: 3rem;
    position: absolute;
  }
  .header {
    height: $hHeight;
    background-color: $hBgColor;
    @extend .flex;
  }
  .left {
    width: 3rem;
    @extend .flex;
  }
  .br-radius {
    border-bottom-right-radius: .5rem;
    background-color: $faRGBA;
  }
  .middle {
    @extend .f1;
    @extend .flex;
    font-size: 16px;
    font-weight: 600;
    padding-left: 10px;
    color: $tipColor;
  }
  .right {
    @extend .flex;
    width: $hHeight;
    height: $hHeight;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
  }

  .icon-back {
    width: $icnWidth;
    height: $icnWidth;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 3px;
      left: 6px;
      display: inline-block;
      width: 12px;
      height: 12px;
      border-left: $icnHeight solid $icnColor;
      border-bottom: $icnHeight solid $icnColor;
      @include prefix(transform, rotate(45deg));
      @include prefix(box-sizing, border-box);
    }
  }
  .icon-hamburger {
    display: block;
    position: relative;
    background-color: $icnColor;
    height: $icnHeight;
    width: $icnWidth;
    @include prefix(transition, background-color .1s);
    &::before, &::after {
      content: "";
      background: $icnColor;
      height:  $icnHeight;
      width: $icnWidth;
      position: absolute;
      left: 0;
      @include prefix(transform-origin, center center);
      -webkit-transition: -webkit-transform .3s,background-color .2s,-webkit-transform .3s;
      transition: transform .3s,background-color .2s,-webkit-transform .3s;
    }
    &::before {
      top: -6px;
    }
    &::after {
      bottom: -6px;
    }
  }
  .nav-open {
    .hamburger {
      background: transparent;
      &::before, &::after {
        background-color: #c00;
      }
      &::before {
        @include prefix(transform, translateY(6px) rotate(-45deg))
      }
      &::after {
        @include prefix(transform, translateY(-6px) rotate(45deg))
      }
    }
  }
}
.home-header {
  height: 3rem;
}
.base-header {
  height: $hHeight;
}