@import "_var.scss";

$border: 1px solid #eee;

.header-view{
  height: $hfHeight;
  color: #000;
  .bb {
    border-bottom: $border;
  }
}
.header, .footer {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  width: 100%;
  height: $hfHeight;
  z-index: $zIndex1;
  position: fixed;
  left: 0;
  background-color: #fff;
  li {
    list-style: none;
  }
  .f-item {
    flex: 1;
  }
}

.header {
  top: 0;
  .item {
    width: $hfHeight;
  }
  .middle {
    text-align: center;
    line-height: $hfHeight;
    font-size: 18px;
  }
}

.footer {
  bottom: 0;
  border-top: $border;
  transform: translate3d(0, 0, 0);
  transition-timing-function: ease-in-out;
  transition-duration: 0s;
  li {
    text-align: center;
    line-height: $hfHeight;
  }
}

.footer-hidden {
  transition-duration: .1s;
  transform: translate3d(0, $hfHeight, 0);
}