.card-item {
  background-color: #fff;
  padding: .4rem;
  margin-bottom: .4rem;
  li {
    list-style: none;
  }
  .title {
    font-size: 16px;
    font-weight: 600;
  }
}

.interaction {
  display: flex;
  background-color: #fff;
  div {
    flex: 1;
    display: flex;
    align-items: center;
    line-height: 1;
  }
  .center {
    justify-content: center;
  }
  .end {
    justify-content: flex-end;
  }
  .mar-l {
    margin-left: 4px;
  }
}

.pager-tip {
  text-align: center;
  color: $tipColor;
  padding: .4rem 0;
}

.shimmer {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  display: inline;
  color: rgba(0, 0, 0, .1);
  background:-webkit-linear-gradient(-45deg,#000,#000,#aaa, #000, #aaa,#000, #000);
  -webkit-background-size: 300px 100%;
  background-size: 300px 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-animation-name: shimmer;
  animation-name: shimmer;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  -webkit-animation-duration: 7s;
  animation-duration: 7s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
}
@-webkit-keyframes shimmer {
  0% {
    background-position: top right;
  }
  100% {
    background-position: top left;
  }
}
@keyframes shimmer {
  0% {
    background-position: top right;
  }
  100% {
    background-position: top left;
  }
}
