@import "_var.scss";

.card-item {
  li {
    list-style: none;
  }
  .card-head {
    display: flex;
    .pic {
      width: 2.51rem;
    }
    .txt {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-self: center;
      padding-left: 0.5rem;
    }
  }
  .interaction {
    display: flex;
    div {
      flex: 1;
    }
  }
  .ml-overflow {
    position: relative;
    max-height: 3 * $fontSize * 1.5;

    overflow: hidden;
    &::after{
      content: "更多";
      position: absolute;
      bottom: 0;
      right: 0;
      padding-left: 40px;
      background: -webkit-linear-gradient(left, transparent, #fff 55%);
      background: -o-linear-gradient(right, transparent, #fff 55%);
      background: -moz-linear-gradient(right, transparent, #fff 55%);
      background: linear-gradient(to right, transparent, #fff 55%);
    }
  }
}

$sdWidth: 6rem;
$sdMar: 0.12rem;
.speed-dial {
  li {
    list-style: none;
    display: flex;
  }
  div{
    width: $sdWidth;
    height: $sdWidth;
    background: #efefef;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .mar-rb {
    margin: 0 $sdMar $sdMar 0;
  }
  .mar-r {
    margin-right: $sdMar;
  }
}