.card-item {
  background-color: #fff;
  padding: .4rem;
  margin-bottom: .4rem;
  li {
    list-style: none;
  }
  .interaction {
    display: flex;
    div {
      flex: 1;
    }
  }
  .title {
    font-size: 16px;
    font-weight: 600;
  }
}

$sdWidth: 6rem;
.speed-dial {
  font-size: 0;
  padding: 0;
  @media screen and (min-width: 750px) {
    max-width: 18.1rem;
  }
  margin: 0 -1px -2px -1px;
  li {
    display: inline-block;
    list-style: none;
    overflow: hidden;
    width: 33.33%;
    div {
      width: 100%;
      padding-bottom: 100%;
      position: relative;
      margin: 0 2px 2px 2px;
    }
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.shimmer {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  display: inline;
  color: rgba(0, 0, 0, .1);
  background:-webkit-linear-gradient(-45deg,#000,#000,#aaa, #000, #aaa,#000, #000);
  -webkit-background-size: 300px 100%;
  background-size: 300px 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-animation-name: shimmer;
  animation-name: shimmer;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  -webkit-animation-duration: 7s;
  animation-duration: 7s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
}
@-webkit-keyframes shimmer {
  0% {
    background-position: top right;
  }
  100% {
    background-position: top left;
  }
}
@keyframes shimmer {
  0% {
    background-position: top right;
  }
  100% {
    background-position: top left;
  }
}
