@media all and (orientation : portrait){
  .potr-mid {
    position: relative;
    top: -1.2rem;
  }
  .msg-box-height {
    height: 50%;
  }
}

@media all and (orientation : landscape) {
  .potr-mid {}
  .msg-box-height {
    height: 100%;
  }
}

@media screen and (max-width:414px){

}

@media screen and (min-width:415px){
}



