$img-w: 3rem;
.my-head {
  display: flex;
  padding: .8rem;
  background-color: #fff;
  .left {
    width: $img-w;
  }
  .via {
    background-color: #f0f0f0;
    width: $img-w;
    height: $img-w;
    border-radius: $img-w / 2;
    overflow: hidden;
    img {
      width: $img-w;
    }
  }
  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    justify-content: center;
    .first {
      display: flex;
      align-items: center;
      img {
        height: .5rem;
        display: block;
        margin-left: .4rem;
      }
    }
    .second {
      font-size: .6rem;
      color: $tipColor;
    }
  }
}

.my-list {
  background: #fff;
  padding-left: .5rem;
  li {
    padding: .5rem 0;
    display: flex;
    align-items: center;
    line-height: 1;
    i {
      margin-right: 10px;
    }
  }
  .bd-b {
    border-bottom: $border;
  }
}

.my-btn {
  padding: .5rem 0;
  background-color: #fff;
  text-align: center;
}

.my-mar {
  margin-bottom: .4rem;
}

.my-home {
  background-color: #fff;
  padding: 1.2rem;
  padding-bottom: 0;
  .info {
    display: flex;
    border-bottom: $border;
    padding-bottom: 1.2rem;
  }
  .left {
    width: $img-w;
    .via {
      background-color: #f0f0f0;
      width: $img-w;
      height: $img-w;
      border-radius: $img-w / 2;
      overflow: hidden;
    }
    img {
      width: $img-w;
    }
  }
  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 0.8rem;
    .first {
      display: flex;
    }
    .second {
      font-size: .6rem;
      color: #999;
    }
    .follow {
      height: 1.1rem;
      border-radius: .55rem;
      color: #fff;
      background: #64be26;
      font-weight: bold;
      margin-top: 1rem;
    }
  }
  .data {
    display: flex;
    color: #666;
    padding: .5rem 0;
    li {
      flex: 1;
      display: flex;
      flex-direction: column;
      line-height: 1;
      align-items: center;
    }
    span {
      padding-bottom: 4px;
    }
  }
}

.photo-container {
  background-color: #fff;
  padding: 0 .2rem;
  .photo-album {
    .time {
      color: $tipColor;
      padding: .4rem 0;
    }
    .pa-card {
      li {
        width: 25%;
      }
    }
  }
}

.admin-box {
  background-color: #fff;
  padding: .5rem;
}

$bdColor: solid 2px rgba(118, 222, 138, 0.9);
.profile {
  background-color: #000;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  .overlay {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -102px;
    margin-top: -105px;
    z-index: 999;
    width: 200px;
    height: 200px;
    border: $bdColor;
    box-sizing: content-box;
    pointer-events: none;
    &:before, &:after {
      content: '';
      position: absolute;
      display: block;
      width: 200px;
      height: 10px;
      border-left: $bdColor;
      border-right: $bdColor;
    }
    &:before {
      top: 0;
      margin-left: -2px;
      margin-top: -10px;
    }
    &:after {
      bottom: 0;
      margin-left: -2px;
      margin-bottom: -10px;
    }
  }
  .overlay-inner {
    &:before, &:after {
      content: '';
      position: absolute;
      display: block;
      width: 10px;
      height: 200px;
      border-top: $bdColor;
      border-bottom: $bdColor;
    }
    &:before {
      left: 0;
      margin-left: -10px;
      margin-top: -2px;
    }
    &:after {
      right: 0;
      margin-right: -10px;
      margin-top: -2px;
    }
  }
  .resize-container {
    img {
      width: 100%;
    }
  }
}

.user-info{
  background-color: #fff;
  padding: .5rem;
  li {
    display: flex;
    padding: .4rem 0;
  }
  input, select {
    width: 100%;
    height: 1.8rem;
  }
  select {
    background-color: #fff;
    @include prefix(appearance, none);
  }
  .left {
    width: 5em;
    display: flex;
    align-items: center;
    color: $tipColor;
  }
  .right {
    flex: 1;
    border-bottom: $border;
  }
  .box {
    height: 1.8rem;
    display: flex;
    align-items: center;
  }
  .profile-box {
    height: 2.51rem;
    border: none;
    position: relative;
  }
  .profile {
    width: 2.51rem;
  }
  .s-file {
    position: absolute;
    width: 2.51rem;
    height: 2.51rem;
    opacity: 0;
    left: 0;
    top: 0;
  }
}

.follow {
  background-color: #fff;
  ul {
    padding-left: .5rem;
  }
  li {
    padding: .6rem 0;
    border-bottom: $border;
  }
}

.about-version {
  padding: 2rem 0 .4rem 0;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  align-items: center;
  color: #999;
}

.about-list {
  li {
    background-color: #fff;
    margin: .4rem 0;
    padding: .4rem;
  }
}
