$minWidth: 320px;
$maxWidth: 960px;

$faColor: #c00;
$faRGBA: rgba(204, 0, 0, 0.6);
$bgColor: #f5f5f5;
$txtColor: #333;
$refColor: #4579FB;
$tipColor: #999;
$imgColor: #f1f1f1;
$errColor: #d81e06;
$hBgColor: #0c0c0c;
$icnColor: #eee;

$fontSize: 0.7rem;
$hHeight: 2.51rem;
$icnWidth: 20px;
$icnHeight: 2px;

$zIndex1: 960;
$zIndex2: 999;
$border: 1px solid #eee;

@mixin prefix($property, $value) {
  -webkit-#{$property}: $value;
  #{$property}: $value;
}

@mixin surfix($property, $value) {
  #{$property}: -webkit-#{$value};
  #{$property}: $value;
}