* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased; }

html, body {
  height: 100%; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0; }

body, button, input, select, textarea {
  font: 400 .7rem/1.5 -apple-system, Helvetica, STHeiTi, Arial,"Lucida Grande",Verdana,"Microsoft YaHei",hei;
  outline: none; }

input, select, textarea {
  border: none; }

input, textarea {
  -webkit-user-select: text;
  user-select: text; }

body {
  background-color: #f0f0f0;
  color: #333;
  min-width: 320px;
  max-width: 1024px;
  overflow-x: hidden;
  margin: 0 auto; }

*:not(input, textarea) {
  -webkit-user-select: none;
  user-select: none; }

ul li {
  list-style: none; }

a {
  text-decoration: none;
  color: #333; }
  a:hover, a:focus {
    color: #333; }

.fl {
  float: left; }

.fr {
  float: right; }

.txt-right {
  text-align: right; }

.txt-center {
  text-align: center; }

.clearfix {
  overflow: hidden;
  zoom: 1; }

.err-t {
  color: #d81e06; }

.article {
  color: #555; }

#root {
  height: 100%; }

.comp-head {
  display: flex; }
  .comp-head .left {
    width: 2.51rem; }
    .comp-head .left .via {
      background-color: #f0f0f0;
      width: 2.51rem;
      height: 2.51rem;
      border-radius: 1.255rem;
      overflow: hidden; }
      .comp-head .left .via img {
        width: 2.51rem; }
  .comp-head .middle {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-left: 0.5rem; }
    .comp-head .middle .first {
      display: flex;
      align-items: center; }
      .comp-head .middle .first img {
        height: .5rem;
        display: block;
        margin-left: .4rem; }
    .comp-head .middle .second {
      font-size: .6rem;
      color: #999; }
  .comp-head .cp-right {
    width: 2.51rem;
    display: flex;
    align-items: center; }
  .comp-head .r-btn {
    text-align: center;
    width: 100%; }

.level {
  text-align: right;
  margin-left: 5px;
  line-height: 1;
  font-size: .5rem;
  font-weight: bold; }

.level-1 {
  padding: .3rem 0.16rem 0 0; }

.level-2 {
  padding: .3rem 0 0 0; }

.mar-b {
  margin-bottom: 0.4rem; }

.speed-dial {
  font-size: 0;
  padding: 0;
  margin: 0 -1px -2px -1px; }
  @media screen and (min-width: 750px) {
    .speed-dial {
      max-width: 18.1rem; } }
  .speed-dial li {
    display: inline-block;
    list-style: none;
    overflow: hidden;
    width: 33.33%; }
    .speed-dial li div {
      width: 98%;
      padding-bottom: 100%;
      position: relative;
      margin: 0 2px 2px 2px; }
    .speed-dial li img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover; }

.single-img {
  width: 100%;
  max-width: 488px;
  height: 10.1rem;
  position: relative; }
  .single-img img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.icon-add {
  height: 40px;
  width: 40px;
  display: block;
  position: relative; }
  .icon-add::before, .icon-add::after {
    content: '';
    height: 8px;
    width: 40px;
    display: block;
    background: #bbb;
    position: absolute;
    top: 16px;
    left: 0; }
  .icon-add::after {
    height: 40px;
    width: 8px;
    top: 0;
    left: 16px; }

.frame {
  width: 100%;
  border: 0; }

.input-group {
  width: 100%; }
  .input-group li {
    padding: .4rem 0; }
  .input-group input {
    width: 100%;
    height: 1.8rem; }
  .input-group .func-btn {
    border: 1px solid #333;
    border-radius: .9rem;
    background-color: #fff; }
  .input-group .btn-disabled {
    border-color: #ccc;
    color: #999; }
  .input-group .bdr-b {
    border-bottom: 1px solid #eee; }
  .input-group .pd-t {
    padding-top: 2rem; }

.c-ref {
  color: #4579FB;
  font-weight: bold; }

.single-msg {
  padding-top: 1rem;
  text-align: center;
  color: #999; }
  .single-msg .link {
    padding-left: 10px;
    color: #4579FB;
    text-decoration: underline; }

.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain; }

.icon-login {
  background-image: url(../img/login.png); }

.icon-home {
  background-image: url(../img/home.png); }

.icon-create {
  background-image: url(../img/create.png); }

.icon-reply {
  background-image: url(../img/reply.png); }

.icon-my {
  background-image: url(../img/my.png); }

.icon-level {
  background-image: url(../img/level.png);
  color: #fff; }

.icon-comment {
  background-image: url(../img/comment.png); }

.icon-share {
  background-image: url(../img/share.png); }

.icon-like {
  background-image: url(../img/like.png); }

.icon-photo {
  background-image: url(../img/photo.png); }

.icon-article {
  background-image: url(../img/article.png); }

.icon-link {
  background-image: url(../img/link.png); }

.icon-edit {
  background-image: url(../img/edit.png); }

.icon-myhome {
  background-image: url(../img/myhome.png); }

.icon-camera {
  background-image: url(../img/camera.png); }

.icon-follow {
  background-image: url(../img/follow.png); }

.icon-admin {
  background-image: url(../img/admin.png); }

.icon-feedback {
  background-image: url(../img/feedback.png); }

.icon-about {
  background-image: url(../img/about.png); }

.icon-myinfo {
  background-image: url(../img/myinfo.png); }

.icon-male {
  background-image: url(../img/male.png); }

.icon-female {
  background-image: url(../img/female.png); }

.active .icon-home {
  background-image: url(../img/home_fill.png); }
.active .icon-reply {
  background-image: url(../img/reply_fill.png); }
.active .icon-my {
  background-image: url(../img/my_fill.png); }
.active .icon-like {
  background-image: url(../img/like_fill.png); }

.header-view {
  height: 44px;
  user-focus: none;
  -webkit-user-select: none;
  user-select: none; }
  .header-view .bdb {
    border-bottom: 1px solid #eee; }

.header-container, .footer-container {
  position: fixed;
  width: 100%;
  height: 44px;
  min-width: 320px;
  max-width: 1024px;
  background-color: #fff;
  color: #000;
  z-index: 960; }

.header, .footer {
  width: 100%;
  height: 44px;
  line-height: 44px;
  display: flex; }

.header .item {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4579FB;
  font-size: 14px;
  font-weight: bold; }
.header .middle {
  flex: 1;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center; }
.header .search {
  display: flex;
  align-items: center; }
.header .search-box {
  display: flex;
  height: 30px;
  width: 100%;
  border: 1px solid #f0f0f0;
  border-radius: 15px; }
  .header .search-box .icon-box {
    width: 28px; }
  .header .search-box .input-box {
    flex: 1;
    display: flex; }
  .header .search-box input {
    width: 100%; }
  .header .search-box .fill {
    width: 15px; }

.icon-back {
  width: 14px;
  height: 44px; }
  .icon-back::before {
    content: "";
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    vertical-align: middle;
    border-left: 2px solid #4579FB;
    border-bottom: 2px solid #4579FB;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.footer li {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center; }

.footer-container {
  border-top: 1px solid #eee;
  bottom: 0;
  transition-timing-function: ease-in-out;
  transition-duration: 0s; }

.footer-hidden {
  transition-duration: .1s;
  transform: translate3d(0, 44px, 0); }

.toast {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  width: 100%;
  height: 100%;
  padding: 4px 4px 0 4px;
  color: #fff;
  -webkit-transform: translate3d(0, -44px, 0);
  transform: translate3d(0, -44px, 0);
  transition-duration: .2s;
  transition-timing-function: ease-in-out; }
  .toast .cont {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.2;
    width: 100%;
    height: 100%;
    background-color: #000;
    border-radius: 6px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    overflow: hidden;
    font-weight: bold;
    padding: 0 4px; }

.show-toast {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.tab-header {
  display: flex;
  font-weight: 400;
  font-size: 15px;
  width: 8rem;
  height: 28px;
  border: 1px solid #333;
  -webkit-border-radius: 14px;
  border-radius: 14px; }
  .tab-header li {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #333; }
    .tab-header li:first-child {
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px; }
    .tab-header li:last-child {
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      border-right: none; }
  .tab-header .active {
    background-color: #333;
    color: #fff; }

.pswp {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
  z-index: 1500;
  -webkit-text-size-adjust: 100%;
  -webkit-backface-visibility: hidden;
  outline: none; }
  .pswp * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .pswp img {
    max-width: none; }

.pswp--animate_opacity {
  opacity: 0.001;
  will-change: opacity;
  -webkit-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
  transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1); }

.pswp--open {
  display: block; }

.pswp--zoom-allowed .pswp__img {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.pswp--zoomed-in .pswp__img {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab; }

.pswp--dragging .pswp__img {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing; }

.pswp__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  will-change: opacity; }

.pswp__scroll-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.pswp__container, .pswp__zoom-wrap {
  -ms-touch-action: none;
  touch-action: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.pswp__container, .pswp__img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; }

.pswp__zoom-wrap {
  position: absolute;
  width: 100%;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  /* for open/close transition */
  -webkit-transition: -webkit-transform 333ms cubic-bezier(0.4, 0, 0.22, 1);
  transition: transform 333ms cubic-bezier(0.4, 0, 0.22, 1); }

.pswp__bg {
  will-change: opacity;
  /* for open/close transition */
  -webkit-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
  transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1); }

.pswp--animated-in .pswp__bg,
.pswp--animated-in .pswp__zoom-wrap {
  -webkit-transition: none;
  transition: none; }

.pswp__container, .pswp__zoom-wrap {
  -webkit-backface-visibility: hidden; }

.pswp__item {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden; }

.pswp__img {
  position: absolute;
  width: auto;
  height: auto;
  top: 0;
  left: 0; }

.pswp__img--placeholder {
  -webkit-backface-visibility: hidden; }

.pswp__img--placeholder--blank {
  background: #222; }

.pswp--ie .pswp__img {
  width: 100% !important;
  height: auto !important;
  left: 0;
  top: 0; }

.pswp__error-msg {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  margin-top: -8px;
  color: #CCC; }

.pswp__error-msg a {
  color: #CCC;
  text-decoration: underline; }

.pswp__button {
  width: 44px;
  height: 44px;
  position: relative;
  background: none;
  cursor: pointer;
  overflow: visible;
  -webkit-appearance: none;
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
  float: right;
  opacity: 0.75;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  -webkit-box-shadow: none;
  box-shadow: none; }
  .pswp__button:focus, .pswp__button:hover {
    opacity: 1; }
  .pswp__button:active {
    outline: none;
    opacity: 0.9; }
  .pswp__button::-moz-focus-inner {
    padding: 0;
    border: 0; }

.pswp__ui--over-close .pswp__button--close {
  opacity: 1; }

.pswp__button,
.pswp__button--arrow--left:before,
.pswp__button--arrow--right:before {
  background: url(../img/default-skin.png) 0 0 no-repeat;
  background-size: 264px 88px;
  width: 44px;
  height: 44px; }

@media (-webkit-min-device-pixel-ratio: 1.1), (-webkit-min-device-pixel-ratio: 1.09375), (min-resolution: 105dpi), (min-resolution: 1.1dppx) {
  /* Serve SVG sprite if browser supports SVG and resolution is more than 105dpi */
  .pswp--svg .pswp__button .pswp--svg .pswp__button--arrow--left,
  .pswp--svg .pswp__button .pswp--svg .pswp__button--arrow--right,
  .pswp--svg .pswp__button--arrow--left:before .pswp--svg .pswp__button--arrow--left,
  .pswp--svg .pswp__button--arrow--left:before .pswp--svg .pswp__button--arrow--right,
  .pswp--svg .pswp__button--arrow--right:before .pswp--svg .pswp__button--arrow--left,
  .pswp--svg .pswp__button--arrow--right:before .pswp--svg .pswp__button--arrow--right {
    background: none; }

  .pswp__button--close {
    background-position: 0 -44px; }

  .pswp--supports-fs .pswp__button--fs {
    display: block; }

  .pswp--fs .pswp__button--fs {
    background-position: -44px 0; }

  .pswp--zoom-allowed .pswp__button--zoom {
    display: block; }

  .pswp--zoomed-in .pswp__button--zoom {
    background-position: -132px 0; }

  .pswp--touch .pswp__button--arrow--left,
  .pswp--touch .pswp__button--arrow--right {
    visibility: hidden; }

  .pswp__button--arrow--left,
  .pswp__button--arrow--right {
    background: none;
    top: 50%;
    margin-top: -50px;
    width: 70px;
    height: 100px;
    position: absolute; }

  .pswp__button--arrow--left {
    left: 0; }

  .pswp__button--arrow--right {
    right: 0; }

  .pswp__button--arrow--left:before,
  .pswp__button--arrow--right:before {
    content: '';
    top: 35px;
    background-color: rgba(0, 0, 0, 0.3);
    height: 30px;
    width: 32px;
    position: absolute; }

  .pswp__button--arrow--left:before {
    left: 6px;
    background-position: -138px -44px; }

  .pswp__button--arrow--right:before {
    right: 6px;
    background-position: -94px -44px; }

  .pswp__counter,
  .pswp__share-modal {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }

  .pswp__share-modal {
    display: block;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 10px;
    position: absolute;
    z-index: 1600;
    opacity: 0;
    -webkit-transition: opacity 0.25s ease-out;
    transition: opacity 0.25s ease-out;
    -webkit-backface-visibility: hidden;
    will-change: opacity; }

  .pswp__share-modal--hidden {
    display: none; }

  .pswp__share-tooltip {
    z-index: 1620;
    position: absolute;
    background: #FFF;
    top: 56px;
    border-radius: 2px;
    display: block;
    width: auto;
    right: 44px;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
    -webkit-transition: -webkit-transform 0.25s;
    transition: transform 0.25s;
    -webkit-backface-visibility: hidden;
    will-change: transform; }

  .pswp__share-tooltip a {
    display: block;
    padding: 8px 12px;
    color: #000;
    text-decoration: none;
    font-size: 14px;
    line-height: 18px; }

  .pswp__share-tooltip a:hover {
    text-decoration: none;
    color: #000; }

  .pswp__share-tooltip a:first-child {
    border-radius: 2px 2px 0 0; }

  .pswp__share-tooltip a:last-child {
    border-radius: 0 0 2px 2px; }

  .pswp__share-modal--fade-in {
    opacity: 1; }

  .pswp__share-modal--fade-in .pswp__share-tooltip {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }

  .pswp--touch .pswp__share-tooltip a {
    padding: 16px 12px; }

  a.pswp__share--facebook:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: -12px;
    right: 15px;
    border: 6px solid transparent;
    border-bottom-color: #FFF;
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    pointer-events: none; }

  a.pswp__share--facebook:hover {
    background: #3E5C9A;
    color: #FFF; }

  a.pswp__share--facebook:hover:before {
    border-bottom-color: #3E5C9A; }

  a.pswp__share--twitter:hover {
    background: #55ACEE;
    color: #FFF; }

  a.pswp__share--pinterest:hover {
    background: #CCC;
    color: #CE272D; }

  a.pswp__share--download:hover {
    background: #DDD; }

  .pswp__counter {
    position: absolute;
    left: 0;
    top: 0;
    height: 44px;
    font-size: 13px;
    line-height: 44px;
    color: #FFF;
    opacity: 0.75;
    padding: 0 10px; }

  .pswp__caption {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 44px; }

  .pswp__caption small {
    font-size: 11px;
    color: #BBB; }

  .pswp__caption__center {
    text-align: left;
    max-width: 420px;
    margin: 0 auto;
    font-size: 13px;
    padding: 10px;
    line-height: 20px;
    color: #CCC; }

  .pswp__caption--empty {
    display: none; }

  .pswp__caption--fake {
    visibility: hidden; }

  .pswp__preloader {
    width: 44px;
    height: 44px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -22px;
    opacity: 0;
    -webkit-transition: opacity 0.25s ease-out;
    transition: opacity 0.25s ease-out;
    will-change: opacity;
    direction: ltr; }

  .pswp__preloader__icn {
    width: 20px;
    height: 20px;
    margin: 12px; }

  .pswp__preloader--active {
    opacity: 1; }

  .pswp__preloader--active .pswp__preloader__icn {
    background: url(../img/loader.gif) 0 0 no-repeat; }

  .pswp--css_animation .pswp__preloader--active {
    opacity: 1; }

  .pswp--css_animation .pswp__preloader--active .pswp__preloader__icn {
    -webkit-animation: clockwise 500ms linear infinite;
    animation: clockwise 500ms linear infinite; }

  .pswp--css_animation .pswp__preloader--active .pswp__preloader__donut {
    -webkit-animation: donut-rotate 1000ms cubic-bezier(0.4, 0, 0.22, 1) infinite;
    animation: donut-rotate 1000ms cubic-bezier(0.4, 0, 0.22, 1) infinite; }

  .pswp--css_animation .pswp__preloader__icn {
    background: none;
    opacity: 0.75;
    width: 14px;
    height: 14px;
    position: absolute;
    left: 15px;
    top: 15px;
    margin: 0; }

  .pswp--css_animation .pswp__preloader__cut {
    position: relative;
    width: 7px;
    height: 14px;
    overflow: hidden; }

  .pswp--css_animation .pswp__preloader__donut {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 14px;
    height: 14px;
    border: 2px solid #FFF;
    border-radius: 50%;
    border-left-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    background: none;
    margin: 0; } }
@media screen and (-webkit-min-device-pixel-ratio: 1.1) and (max-width: 1024px), screen and (-webkit-min-device-pixel-ratio: 1.09375) and (max-width: 1024px), screen and (min-resolution: 105dpi) and (max-width: 1024px), screen and (min-resolution: 1.1dppx) and (max-width: 1024px) {
  .pswp__preloader {
    position: relative;
    left: auto;
    top: auto;
    margin: 0;
    float: right; } }
@media (-webkit-min-device-pixel-ratio: 1.1), (-webkit-min-device-pixel-ratio: 1.09375), (min-resolution: 105dpi), (min-resolution: 1.1dppx) {
  @-webkit-keyframes clockwise {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg); }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg); } }
  @keyframes clockwise {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg); }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg); } }
  @-webkit-keyframes donut-rotate {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0); }
    50% {
      -webkit-transform: rotate(-140deg);
      transform: rotate(-140deg); }
    100% {
      -webkit-transform: rotate(0);
      transform: rotate(0); } }
  @keyframes donut-rotate {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0); }
    50% {
      -webkit-transform: rotate(-140deg);
      transform: rotate(-140deg); }
    100% {
      -webkit-transform: rotate(0);
      transform: rotate(0); } }
  .pswp__ui {
    -webkit-font-smoothing: none;
    visibility: visible;
    opacity: 1;
    z-index: 1550; }

  .pswp__top-bar {
    position: absolute;
    left: 0;
    top: 0;
    height: 44px;
    width: 100%; }

  .pswp__caption,
  .pswp__top-bar,
  .pswp--has_mouse .pswp__button--arrow--left,
  .pswp--has_mouse .pswp__button--arrow--right {
    -webkit-backface-visibility: hidden;
    will-change: opacity;
    -webkit-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
    transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1); }

  .pswp--has_mouse .pswp__button--arrow--left,
  .pswp--has_mouse .pswp__button--arrow--right {
    visibility: visible; }

  .pswp__top-bar,
  .pswp__caption {
    background-color: rgba(0, 0, 0, 0.5); }

  .pswp__ui--fit .pswp__top-bar,
  .pswp__ui--fit .pswp__caption {
    background-color: rgba(0, 0, 0, 0.3); }

  .pswp__ui--idle .pswp__top-bar {
    opacity: 0; }

  .pswp__ui--idle .pswp__button--arrow--left,
  .pswp__ui--idle .pswp__button--arrow--right {
    opacity: 0; }

  .pswp__ui--one-slide .pswp__button--arrow--left,
  .pswp__ui--one-slide .pswp__button--arrow--right,
  .pswp__ui--one-slide .pswp__counter {
    display: none; }

  .pswp__element--disabled {
    display: none !important; }

  .pswp--minimal--dark .pswp__top-bar {
    background: none; } }
.card-item {
  background-color: #fff;
  padding: .4rem;
  margin-bottom: .4rem; }
  .card-item li {
    list-style: none; }
  .card-item .title {
    font-size: 16px;
    font-weight: 600; }

.interaction {
  display: flex;
  background-color: #fff; }
  .interaction div {
    flex: 1;
    display: flex;
    align-items: center;
    line-height: 1; }
  .interaction .center {
    justify-content: center; }
  .interaction .end {
    justify-content: flex-end; }
  .interaction .mar-l {
    margin-left: 4px; }

.shimmer {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  display: inline;
  color: rgba(0, 0, 0, 0.1);
  background: -webkit-linear-gradient(-45deg, #000, #000, #aaa, #000, #aaa, #000, #000);
  -webkit-background-size: 300px 100%;
  background-size: 300px 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-animation-name: shimmer;
  animation-name: shimmer;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  -webkit-animation-duration: 7s;
  animation-duration: 7s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0 0; }

@-webkit-keyframes shimmer {
  0% {
    background-position: top right; }
  100% {
    background-position: top left; } }
@keyframes shimmer {
  0% {
    background-position: top right; }
  100% {
    background-position: top left; } }
.pop-layer {
  display: none;
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  -ms-touch-action: none;
  touch-action: none;
  background-color: transparent;
  -webkit-text-size-adjust: 100%;
  -webkit-backface-visibility: hidden;
  outline: none;
  opacity: 1;
  transition-property: background-color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out; }
  .pop-layer ul {
    padding: 0 .4rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    transform: translate3d(0, 10.6rem, 0); }
  .pop-layer li {
    background-color: #fff;
    width: 100%;
    margin-bottom: .7rem;
    border-radius: .2rem;
    padding: .45rem 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold; }
    .pop-layer li .mar-r {
      margin-right: 15px; }

.pop-show {
  background-color: rgba(0, 0, 0, 0.9); }
  .pop-show ul {
    transform: translate3d(0, 0, 0); }

.comment-list {
  background-color: #fff;
  margin-top: 8px; }
  .comment-list .comment {
    padding: .4rem;
    border-bottom: 1px solid #f0f0f0; }
  .comment-list .content {
    padding-left: 2.9rem; }
  .comment-list a {
    color: #4579FB;
    padding-right: 4px; }
    .comment-list a a:hover, .comment-list a a:focus {
      color: #4579FB; }

.reply-card {
  background-color: #fff;
  padding: .4rem;
  margin-bottom: .4rem; }
  .reply-card .text {
    margin: .4rem 0; }
    .reply-card .text .rp {
      padding-right: .4rem;
      color: #999; }
    .reply-card .text .new-flag {
      background: #f00;
      color: #fff;
      padding: 0px 6px 1px 4px;
      border-radius: 4px;
      font-size: .6rem;
      display: inline-block;
      line-height: .6rem;
      margin-right: .2rem; }
  .reply-card .content {
    display: flex; }
    .reply-card .content .left {
      width: 3rem;
      height: 3rem; }
    .reply-card .content .rp-right {
      flex: 1;
      padding-left: .5rem;
      overflow: hidden;
      height: 3rem;
      color: #999;
      font-size: .6rem;
      display: flex;
      align-items: center; }
      .reply-card .content .rp-right .m-ellipsis {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden; }
    .reply-card .content .via {
      width: 100%;
      padding-bottom: 100%;
      position: relative;
      margin: 0 2px 2px 2px; }
      .reply-card .content .via img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover; }

.edit-box {
  background-color: #fff;
  padding: .8rem .4rem 0 .4rem;
  position: relative;
  overflow: hidden; }

.edit-ta {
  width: 100%;
  resize: none;
  height: 6.3rem;
  border: none;
  background-color: #f0f0f0; }

.edit-tip {
  text-align: right;
  font-size: .6rem;
  color: #999; }

.edit-article {
  padding-top: .4rem; }
  .edit-article .content-box {
    position: relative; }
  .edit-article .title-box {
    width: 100%;
    height: 1.6rem;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: .4rem; }
    .edit-article .title-box input {
      width: 100%;
      height: 100%;
      border: none;
      font-weight: 600; }
  .edit-article .tip-input {
    width: 100%;
    border: none; }
  .edit-article .edit {
    position: absolute;
    width: 100%;
    min-height: 1.6rem;
    outline: none;
    user-select: text;
    overflow-y: auto;
    cursor: text;
    background: transparent;
    top: 2rem;
    -webkit-user-select: text;
    user-select: text; }
    .edit-article .edit .mar {
      margin: .2rem 0; }
    .edit-article .edit * {
      -webkit-user-select: text;
      user-select: text; }

.edit-blog .bdr {
  border: 1px solid #999; }
.edit-blog .icon {
  position: absolute;
  top: 50%;
  transform: translate3D(-53%, -50%, 0);
  left: 50%; }
.edit-blog .bdr {
  border: 1px solid #bbb; }
.edit-blog .m-file {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0; }
.edit-blog .del {
  position: absolute;
  background-color: #f00;
  z-index: 999;
  right: 0;
  top: 0;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  margin: 0; }

.article .comment-list {
  margin: 0; }

.article-box {
  background-color: #fff;
  padding: .4rem;
  margin-bottom: .4rem; }
  .article-box .title {
    font-size: 20px; }
  .article-box p {
    color: #555;
    padding: .4rem 0; }
  .article-box .single-img {
    margin: .4rem 0; }

.article-action {
  padding: .4rem;
  background-color: #fff; }

.my-head {
  display: flex;
  padding: .8rem;
  background-color: #fff; }
  .my-head .left {
    width: 3rem; }
  .my-head .via {
    background-color: #f0f0f0;
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    overflow: hidden; }
    .my-head .via img {
      width: 3rem; }
  .my-head .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    justify-content: center; }
    .my-head .right .first {
      display: flex;
      align-items: center; }
      .my-head .right .first img {
        height: .5rem;
        display: block;
        margin-left: .4rem; }
    .my-head .right .second {
      font-size: .6rem;
      color: #999; }

.my-list {
  background: #fff;
  padding-left: .5rem; }
  .my-list li {
    padding: .5rem 0;
    display: flex;
    align-items: center;
    line-height: 1; }
    .my-list li i {
      margin-right: 10px; }
  .my-list .bd-b {
    border-bottom: 1px solid #eee; }

.my-btn {
  padding: .5rem 0;
  background-color: #fff;
  text-align: center; }

.my-mar {
  margin-bottom: .4rem; }

.my-home {
  background-color: #fff;
  padding: 1.2rem;
  padding-bottom: 0; }
  .my-home .info {
    display: flex;
    border-bottom: 1px solid #eee;
    padding-bottom: 1.2rem; }
  .my-home .left {
    width: 3rem; }
    .my-home .left .via {
      background-color: #f0f0f0;
      width: 3rem;
      height: 3rem;
      border-radius: 1.5rem;
      overflow: hidden; }
    .my-home .left img {
      width: 3rem; }
  .my-home .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 0.8rem; }
    .my-home .right .first {
      display: flex; }
    .my-home .right .second {
      font-size: .6rem;
      color: #999;
      word-wrap: break-word;
      min-height: 1.3rem; }
    .my-home .right .follow {
      height: 1.2rem;
      border-radius: .6rem;
      color: #fff;
      background: #64be26;
      font-weight: bold;
      margin-top: .6rem; }
  .my-home .data {
    display: flex;
    color: #666;
    padding: .5rem 0; }
    .my-home .data li {
      flex: 1;
      display: flex;
      flex-direction: column;
      line-height: 1;
      align-items: center; }
    .my-home .data span {
      padding-bottom: 4px; }
  .my-home .gender {
    width: .8rem;
    height: .8rem;
    margin: .15rem 0 0 .2rem;
    line-height: 1; }

.photo-container {
  background-color: #fff; }
  .photo-container .photo-album .time {
    color: #999;
    padding: .4rem 0; }
  .photo-container .photo-album .pa-card li {
    width: 25%; }

.admin-box {
  background-color: #fff;
  padding: .5rem; }

.profile {
  background-color: #000;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; }
  .profile .overlay {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -102px;
    margin-top: -105px;
    z-index: 999;
    width: 200px;
    height: 200px;
    border: solid 2px rgba(118, 222, 138, 0.9);
    box-sizing: content-box;
    pointer-events: none; }
    .profile .overlay:before, .profile .overlay:after {
      content: '';
      position: absolute;
      display: block;
      width: 200px;
      height: 10px;
      border-left: solid 2px rgba(118, 222, 138, 0.9);
      border-right: solid 2px rgba(118, 222, 138, 0.9); }
    .profile .overlay:before {
      top: 0;
      margin-left: -2px;
      margin-top: -10px; }
    .profile .overlay:after {
      bottom: 0;
      margin-left: -2px;
      margin-bottom: -10px; }
  .profile .overlay-inner:before, .profile .overlay-inner:after {
    content: '';
    position: absolute;
    display: block;
    width: 10px;
    height: 200px;
    border-top: solid 2px rgba(118, 222, 138, 0.9);
    border-bottom: solid 2px rgba(118, 222, 138, 0.9); }
  .profile .overlay-inner:before {
    left: 0;
    margin-left: -10px;
    margin-top: -2px; }
  .profile .overlay-inner:after {
    right: 0;
    margin-right: -10px;
    margin-top: -2px; }
  .profile .resize-container img {
    width: 100%; }

.user-info {
  background-color: #fff;
  padding: .5rem; }
  .user-info li {
    display: flex;
    padding: .4rem 0; }
  .user-info input, .user-info select {
    width: 100%;
    height: 1.8rem; }
  .user-info select {
    background-color: #fff;
    -webkit-appearance: none;
    appearance: none; }
  .user-info .left {
    width: 5em;
    display: flex;
    align-items: center;
    color: #999; }
  .user-info .right {
    flex: 1;
    border-bottom: 1px solid #eee; }
  .user-info .box {
    height: 1.8rem;
    display: flex;
    align-items: center; }
  .user-info .profile-box {
    height: 2.51rem;
    border: none;
    position: relative; }
  .user-info .profile {
    width: 2.51rem; }
  .user-info .s-file {
    position: absolute;
    width: 2.51rem;
    height: 2.51rem;
    opacity: 0;
    left: 0;
    top: 0; }
  .user-info .edit-area {
    width: 100%;
    resize: none;
    height: 3.5rem;
    border: none;
    background-color: #f0f0f0; }
  .user-info .bd-0 {
    border: 0; }
  .user-info .pd-t2 {
    padding-top: 2rem; }

.follow {
  background-color: #fff; }
  .follow ul {
    padding-left: .5rem; }
  .follow li {
    padding: .6rem 0;
    border-bottom: 1px solid #eee; }

.about-version {
  padding: 2rem 0 .4rem 0;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  align-items: center;
  color: #999; }

.about-list li {
  background-color: #fff;
  margin: .4rem 0;
  padding: .4rem; }

.basic-info .basic {
  padding: 0 .5rem; }
.basic-info .mar-b {
  margin-bottom: .4rem; }
.basic-info .box-info {
  background: #f9f9f9;
  border: 0;
  min-height: 3rem;
  padding: 5px;
  align-items: flex-start;
  overflow-y: scroll; }

.login {
  background-color: #fff;
  padding: .5rem; }
  .login .login-can {
    padding-top: 1rem; }
    .login .login-can .password {
      display: flex; }
      .login .login-can .password input {
        width: 75%; }
      .login .login-can .password .find-pwd {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color: #4579FB; }
  .login .login-other {
    display: flex;
    padding-top: 2rem; }
    .login .login-other li {
      width: 33.33%;
      min-height: 2rem;
      display: flex;
      align-items: center;
      justify-content: center; }
    .login .login-other img {
      width: 48px;
      height: 48px; }

/*# sourceMappingURL=base.css.map */
