@import '_var.scss';
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html, body {
  height: 100%;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0;
}
body, button, input, select, textarea {
  font: 400 .7rem/1.5 -apple-system, Helvetica, STHeiTi, Arial,"Lucida Grande",Verdana,"Microsoft YaHei",hei;
}

body {
  background-color: $bgColor;
  color: #333;
}

.txt-right {
  text-align: right;
}

.txt-center {
  text-align: center;
}

.clearfix{
  overflow: hidden;
  zoom: 1;
}

.avator {
  background-color: $bgColor;
  width: 2.51rem;
  height: 2.51rem;
  border-radius: 1.255rem;
  overflow: hidden;
  img{
    width: 2.51rem;
  }
}


@import '_header_footer.scss';
@import '_home.scss';