* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased; }

html, body {
  height: 100%; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0; }

body, button, input, select, textarea {
  font: 400 .7rem/1.5 -apple-system, Helvetica, STHeiTi, Arial, "Lucida Grande", Verdana, "Microsoft YaHei", hei;
  outline: none; }

input, select, textarea {
  border: none; }

input, textarea {
  -webkit-user-select: text;
  user-select: text; }

ul li {
  list-style: none; }

a {
  text-decoration: none;
  color: #333; }
  a:hover, a:focus {
    color: #333; }

img {
  margin: 0;
  display: block; }

.fl {
  float: left; }

.fr {
  float: right; }

.fcm {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center; }

.fc {
  -webkit-justify-content: center;
  justify-content: center; }

.fm {
  -webkit-align-items: center;
  align-items: center; }

.flex, .home-header-container .header, .home-header-container .left, .home-header-container .middle, .home-header-container .right, .home-mask .search-form {
  display: -webkit-flex;
  display: flex; }

.f1, .home-header-container .middle, .home-mask .search-field {
  -webkit-flex: 1;
  flex: 1; }

body {
  background-color: #f5f5f5;
  color: #333;
  min-width: 320px;
  max-width: 1024px;
  overflow-x: hidden;
  margin: 0 auto; }

.header-view {
  user-focus: none;
  -webkit-user-select: none;
  user-select: none;
  height: 3rem;
  position: relative;
  z-index: 999; }

.home-header-container {
  position: fixed;
  width: 100%;
  height: 3rem;
  min-width: 320px;
  max-width: 1024px;
  background-color: transparent;
  z-index: 960; }
  .home-header-container .logo {
    width: 3rem;
    height: 3rem;
    position: absolute; }
  .home-header-container .header {
    height: 2.51rem;
    background-color: #0c0c0c; }
  .home-header-container .left {
    width: 3rem; }
  .home-header-container .br-radius {
    border-bottom-right-radius: .5rem;
    background-color: #c00; }
  .home-header-container .middle {
    font-size: 16px;
    font-weight: 600;
    padding-left: 10px;
    color: #999; }
  .home-header-container .right {
    width: 2.51rem;
    height: 2.51rem;
    cursor: pointer; }
  .home-header-container .icon-back {
    width: 20px;
    height: 20px;
    position: relative; }
    .home-header-container .icon-back::before {
      content: "";
      position: absolute;
      top: 3px;
      left: 6px;
      display: inline-block;
      width: 12px;
      height: 12px;
      border-left: 2px solid #eee;
      border-bottom: 2px solid #eee;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
  .home-header-container .icon-hamburger {
    display: block;
    position: relative;
    background-color: #eee;
    height: 2px;
    width: 20px;
    -webkit-transition: background-color 0.1s;
    transition: background-color 0.1s; }
    .home-header-container .icon-hamburger::before, .home-header-container .icon-hamburger::after {
      content: "";
      background: #eee;
      height: 2px;
      width: 20px;
      position: absolute;
      left: 0;
      -webkit-transform-origin: center center;
      transform-origin: center center;
      -webkit-transition: -webkit-transform .3s,background-color .2s,-webkit-transform .3s;
      transition: transform .3s,background-color .2s,-webkit-transform .3s; }
    .home-header-container .icon-hamburger::before {
      top: -6px; }
    .home-header-container .icon-hamburger::after {
      bottom: -6px; }
  .home-header-container .nav-open .hamburger {
    background: transparent; }
    .home-header-container .nav-open .hamburger::before, .home-header-container .nav-open .hamburger::after {
      background-color: #c00; }
    .home-header-container .nav-open .hamburger::before {
      -webkit-transform: translateY(6px) rotate(-45deg);
      transform: translateY(6px) rotate(-45deg); }
    .home-header-container .nav-open .hamburger::after {
      -webkit-transform: translateY(-6px) rotate(45deg);
      transform: translateY(-6px) rotate(45deg); }

.home-card {
  padding-bottom: 10px; }
  .home-card .item {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative; }
  .home-card .wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    background-color: #f1f1f1;
    overflow: hidden; }
  .home-card .title {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    font-weight: 500;
    padding: 2px; }
  .home-card img {
    width: 100%;
    height: 100%;
    vertical-align: top;
    color: #f1f1f1;
    -webkit-object-fit: cover;
    object-fit: cover; }

.home-mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(12, 12, 12, 0.93);
  z-index: 960;
  overflow: hidden;
  display: none; }
  .home-mask .search-form {
    width: 100%;
    padding: 1.2rem 0 1rem 1rem;
    border-bottom: 2px solid #333; }
  .home-mask .search-field input {
    border: 0;
    border-radius: 0;
    color: #666;
    height: 1.5rem;
    padding: .1rem .4rem;
    width: 100%; }
  .home-mask .search-btn {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
    width: 60px;
    height: 30px;
    background-image: url("../img/search.png"); }
  .home-mask .list {
    color: #ddd;
    font-size: 18px;
    font-weight: bold;
    padding: .25rem 1rem 0 1rem; }
    .home-mask .list li {
      margin-bottom: 10px;
      padding: 0.75rem 0; }
    .home-mask .list .user-info {
      color: #666;
      font-style: oblique; }

.jroll-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%; }

.scroller {
  margin: 0;
  padding: 0;
  transition-timing-function: ease-in-out; }

.jroll-infinite-tip {
  height: 44px;
  line-height: 44px;
  text-align: center;
  color: #999; }

.jroll-infinite-page {
  padding: 0 5px; }

.jroll-ybar {
  right: 0 !important; }

/*# sourceMappingURL=base.css.map */
