* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased; }

html, body {
  height: 100%; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0; }

body, button, input, select, textarea {
  font: 400 .7rem/1.5 -apple-system, Helvetica, STHeiTi, Arial, "Lucida Grande", Verdana, "Microsoft YaHei", hei;
  outline: none; }

input, select, textarea {
  border: none; }

input, textarea {
  -webkit-user-select: text;
  user-select: text; }

ul li {
  list-style: none; }

a {
  text-decoration: none;
  color: #333; }
  a:hover, a:focus {
    color: #333; }

img {
  margin: 0;
  display: block; }

.clr {
  clear: both; }

.fl {
  float: left; }

.fr {
  float: right; }

.fcm, .long-text .operate div {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center; }

.fc, .about li, .share-pad li {
  -webkit-justify-content: center;
  justify-content: center; }

.fm, .share-pad {
  -webkit-align-items: center;
  align-items: center; }

.fem {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: center;
  align-items: center; }

.flex, .header-container .header, .header-container .left, .header-container .middle, .header-container .right, .home-mask .search-form, .long-text .operate, .long-text .operate div, .msg-item, .msg-item .info, .login-box .link div, .msg-box, .about li, .share-pad, .share-pad li {
  display: -webkit-flex;
  display: flex; }

.f1, .header-container .middle, .home-mask .search-field, .long-text .operate div, .msg-item .info, .share-pad li {
  -webkit-flex: 1;
  flex: 1; }

body {
  background-color: #f5f5f5;
  color: #333;
  min-width: 320px;
  max-width: 960px;
  overflow-x: hidden;
  margin: 0 auto; }

.icon {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px; }

.icn-like {
  background-image: url(../img/like.png); }

.icn-liked {
  background-image: url(../img/liked.png); }

.icn-share {
  background-image: url(../img/share.png); }

.icn-send {
  background-image: url(../img/send.png); }

.header-view {
  user-focus: none;
  -webkit-user-select: none;
  user-select: none;
  position: relative;
  z-index: 990; }

.header-container {
  position: fixed;
  width: 100%;
  min-width: 320px;
  max-width: 960px;
  background-color: transparent; }
  .header-container .logo {
    width: 3rem;
    height: 3rem;
    position: absolute; }
  .header-container .header {
    height: 2.51rem;
    background-color: #0c0c0c; }
  .header-container .left {
    width: 3rem; }
  .header-container .br-radius {
    border-bottom-right-radius: .5rem;
    background-color: rgba(204, 0, 0, 0.6); }
  .header-container .middle {
    font-size: 16px;
    font-weight: 600;
    padding-left: 10px;
    color: #999; }
  .header-container .right {
    width: 2.51rem;
    height: 2.51rem;
    cursor: pointer;
    color: #fff;
    font-weight: bold; }
  .header-container .icon-back {
    width: 20px;
    height: 20px;
    position: relative; }
    .header-container .icon-back::before {
      content: "";
      position: absolute;
      top: 3px;
      left: 6px;
      display: inline-block;
      width: 12px;
      height: 12px;
      border-left: 2px solid #eee;
      border-bottom: 2px solid #eee;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
  .header-container .icn-hamburger {
    display: block;
    position: relative;
    background-color: #eee;
    height: 2px;
    width: 20px;
    -webkit-transition: background-color 0.1s;
    transition: background-color 0.1s; }
    .header-container .icn-hamburger::before, .header-container .icn-hamburger::after {
      content: "";
      background: #eee;
      height: 2px;
      width: 20px;
      position: absolute;
      left: 0;
      -webkit-transform-origin: center center;
      transform-origin: center center;
      -webkit-transition: -webkit-transform .3s,background-color .2s,-webkit-transform .3s;
      transition: transform .3s,background-color .2s,-webkit-transform .3s; }
    .header-container .icn-hamburger::before {
      top: -6px; }
    .header-container .icn-hamburger::after {
      bottom: -6px; }
  .header-container .nav-open .icn-hamburger {
    background: transparent; }
    .header-container .nav-open .icn-hamburger::before, .header-container .nav-open .icn-hamburger::after {
      background-color: #c00; }
    .header-container .nav-open .icn-hamburger::before {
      -webkit-transform: translateY(6px) rotate(-45deg);
      transform: translateY(6px) rotate(-45deg); }
    .header-container .nav-open .icn-hamburger::after {
      -webkit-transform: translateY(-6px) rotate(45deg);
      transform: translateY(-6px) rotate(45deg); }

.home-header {
  height: 3rem; }

.base-header {
  height: 2.51rem; }

.jroll-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%; }

.scroller {
  margin: 0;
  padding: 0;
  transition-timing-function: ease-in-out; }

.jroll-infinite-tip {
  height: 44px;
  line-height: 44px;
  text-align: center;
  color: #999; }

.jroll-infinite-page {
  padding: 0 5px; }

.jroll-ybar {
  right: 0 !important; }

.home-card {
  padding-bottom: 10px; }
  .home-card .item {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative; }
  .home-card .wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    background-color: #ededed;
    overflow: hidden; }
  .home-card .title {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    font-weight: 500;
    padding: 2px; }
  .home-card img {
    width: 100%;
    height: 100%;
    vertical-align: top;
    color: #ededed;
    -webkit-object-fit: cover;
    object-fit: cover; }

.home-mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(12, 12, 12, 0.93);
  z-index: 980;
  overflow-y: auto;
  display: none; }
  .home-mask .search-form {
    width: 100%;
    padding: 1.2rem 0 1rem 1rem;
    border-bottom: 2px solid #333; }
  .home-mask .search-field input {
    border: 0;
    border-radius: 0;
    color: #666;
    height: 1.5rem;
    padding: .1rem .4rem;
    width: 100%; }
  .home-mask .search-btn {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
    width: 60px;
    height: 30px;
    background-image: url("../img/search.png"); }
  .home-mask .list {
    color: #ddd;
    font-size: 18px;
    font-weight: bold;
    padding: .25rem 1rem 0 1rem; }
    .home-mask .list li {
      margin-bottom: 10px;
      padding: 10px 0; }
    .home-mask .list .user-info {
      color: #666;
      font-style: oblique; }

.long-text {
  background-color: #fff;
  height: 2000px;
  position: relative; }
  .long-text .operate {
    width: 100%;
    height: 2rem;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #f5f5f5; }
    .long-text .operate .rfc {
      color: #4579FB; }
    .long-text .operate .middle {
      color: #999; }
    .long-text .operate .like-num {
      padding-left: 3px;
      color: #999; }

.msg-board {
  padding: 0 10px; }
  .msg-board .title {
    padding: 1rem 0;
    text-align: center;
    color: #999; }

.msg-item {
  padding-bottom: 20px; }
  .msg-item .profile {
    width: 40px; }
    .msg-item .profile img {
      width: 40px;
      height: 40px;
      border-radius: 3px; }
  .msg-item .info {
    -webkit-flex-direction: column;
    flex-direction: column;
    padding-left: 10px; }
    .msg-item .info .name {
      color: #666; }
    .msg-item .info .time {
      color: #aaa;
      font-size: 12px; }

.login-box {
  width: 100%;
  padding: 0 10px;
  font-size: 16px; }
  .login-box input {
    width: 100%;
    height: 2.1rem;
    border: 0; }
  .login-box .text {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px; }
    .login-box .text input {
      padding: 0 10px; }
  .login-box .btn input {
    background-color: #c00;
    color: #fff;
    text-align: center;
    line-height: 2.1rem;
    font-weight: bold;
    border-radius: 4px; }
  .login-box .link {
    font-size: 14px; }
    .login-box .link div {
      height: 2rem;
      width: 3.5rem;
      color: #4579FB; }

.msg-box {
  width: 100%;
  -webkit-flex-direction: column;
  flex-direction: column; }
  .msg-box .area {
    border-bottom: 1px solid #eee; }
    .msg-box .area textarea {
      width: 100%;
      height: 100%;
      padding: 10px;
      border: 0;
      resize: none;
      overflow-y: auto; }
  .msg-box .tip {
    text-align: right;
    padding: 4px 10px;
    font-size: 12px;
    color: #999; }

.about {
  width: 100%;
  padding: 0 30px; }
  .about .logo {
    width: 100px;
    height: 50px;
    background-color: #ededed; }
  .about .txid {
    text-indent: 1.4rem; }
  .about .pd5 {
    padding-bottom: 5px; }
  .about .pd20 {
    padding-bottom: 20px; }

.share-pad {
  background-color: #fff;
  width: 100%;
  position: fixed;
  bottom: -126px;
  z-index: 990;
  border-top: 1px solid #eee;
  height: 126px; }
  .share-pad img {
    width: 65px;
    height: 65px; }

.share-pad-show {
  bottom: 0; }

.popup-mask {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  -webkit-animation: opacity-fade-in 0.5s cubic-bezier(0.68, 0, 0.265, 1);
  animation: opacity-fade-in 0.5s cubic-bezier(0.68, 0, 0.265, 1);
  display: none; }

.roll-out {
  -webkit-transition-property: bottom;
  transition-property: bottom;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in; }

@media all and (orientation: portrait) {
  .potr-mid {
    position: relative;
    top: -1.2rem; }

  .msg-box-height {
    height: 50%; } }
@media all and (orientation: landscape) {
  .msg-box-height {
    height: 100%; } }

/*# sourceMappingURL=base.css.map */
